appdirs
certifi
coloredlogs
cycler
decorator
h5py
humanfriendly
imageio
kiwisolver
matplotlib
natsort
numpy
Pillow
pydicom
pyepics
pyopencl
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytools
scipy
six
