appdirs==1.4.4
certifi==2020.6.20
coloredlogs==14.0
cycler==0.10.0
decorator==4.4.2
h5py==3.2.1
humanfriendly==8.2
imageio==2.9.0
kiwisolver==1.2.0
matplotlib==3.3.2
natsort==7.0.1
numpy==1.20.3
Pillow==7.2.0
pydicom==2.0.0
pyepics==3.4.3
pyopencl==2021.2.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.0
python-dateutil==2.8.1
pytools==2020.3.1
scipy==1.6.3
six==1.15.0
