# Imaging Configuration
# Assumes the robot is in position.
# Is it OK to leave the Mono in beam all the time without penalty?

# Close the front end.
SR08ID01PSS01:HU01A_BL_SHUTTER_CLOSE_CMD 1
{
	# Set the photon stop.
	# SR08ID01PSS01:HU01A_PH_SHUTTER_OPEN_STS?
	# Set the safety shutter.
	# SR08ID01PSS01:HU01A_SF_SHUTTER_OPEN_STS?
}
{
	# Move in the Mono.
	SR08ID01DCM01:Z1 0
	# Move the Baby Bear Slits up.
	SR08ID01SLM12:VCENTRE 20
	# Move the Mama Bear Table up.
	SR08ID01TBL21:Z 20
	# Move the Imaging Shutter in place.

	# Move the Papa Bear Slits up.
	SR08ID01SLM03:ZCENTRE 20
	# Move the Zorro/IC system down.

}