# Imaging Configuration
# Is it OK to leave the Mono in beam all the time without penalty?

# Close the front end.
SR08ID01PSS01:FE_SHUTTER_CLOSE_CMD 1
# Close the safety shutter.
SR08ID01PSS01:HU01A_BL_SHUTTER_CLOSE_CMD 1
# Move aparatus.
{
	# Move the Mono out.
	SR08ID01DCM01:Z1 -55

	# Primary Slits (HHL's).
	SR08ID01SLW01:LEFT 15
	SR08ID01SLW01:RIGHT 15
	SR08ID01SLW01:VPOS 0.738
	SR08ID01SLW01:VOPEN 2

	# Baby Bear Slits.
	SR08ID01SLM12:VCENTRE 0.777
	SR08ID01SLM12:VSIZE 2
	SR08ID01SLM12:HCENTRE 0
	SR08ID01SLM12:HSIZE 40.0

	# Mama Bear Slits.
	SR08ID01SLM21:Y 0.0
	SR08ID01SLM21:YGAP 40.0
	SR08ID01SLM21:Z 0.0
	SR08ID01SLM21:ZGAP 16.0
	SR08ID01TBL21:Z 0

	# Papa Bear Slits. What the crap is up with those??
	SR08ID01SLM03:YCENTRE 38.0
	SR08ID01SLM03:YGAP 16.958
	SR08ID01SLM03:ZCENTRE 4.579
	SR08ID01SLM03:ZGAP 20.0

	# Move the Zorro/IC system into the beam.
	SR08ID01ZORRO:LARGE_Z 0

	# Turn on the LAPS Link.
	SR08ID01ZORRO:LAPSLINK 1

	# Move the detector out of beam.
	SR08ID01TBL32:Y -200
}